<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Soirée de 30 ans</h1>
            <p class="lead">This is your homepage</p>

            <p>
                blbablalblab
            </p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    Vous êtes identifié avec l'utilisateur: "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    Pas encore inscit? <a class="alert-link" href="#/register">S'inscrire</a>
                </div>
            </div>

            <p ng-if="vm.isAuthenticated()">
                <button type="submit" class="btn btn-primary" ng-click="vm.start()">Je veux trouver le lieu de cette soirée !!</button>
            </p>
            
        </div>
    </div>
</div>
