<div ng-if="vm.number">
    <div>
        <h4>Enigme numéro {{vm.number}}</h4>
    </div>

    <form name="enigmaForm" class="form-horizontal" role="form">

        <!--Question-->
        <div class="form-group question">
            <label class="col-sm-2 control-label">Question</label>

            <div class="col-sm-10">
                <label class="col-sm-2 control-label">{{vm.question}}</label>
            </div>
        </div>

        <!--Answer-->
        <div class="form-group answer">
            <label class="col-sm-2 control-label">Réponse</label>

            <div class="col-sm-10" ng-class="{'has-error': enigmaForm.answer.$invalid && enigmaForm.answer.$dirty}">
                <input name="answer" type="text" class="form-control" placeholder="Réponse" ng-model="vm.answer" required maxlength="255">
            </div>
        </div>

        <div>
            <button validation-submit="enigmaForm" type="submit" class="btn btn-primary" ng-click="vm.submit()" ng-disabled="enigmaForm.$invalid">Soumettre</button>
        </div>

    </form>
</div>
