<div ng-if="vm.number">
    <div>
        <h4>Enigme numéro {{vm.number}}</h4>
    </div>

    <form name="enigmaForm" class="form-horizontal" role="form">

        <br>
        <!--Question-->
        <div class="question">
            <b>Question</b>: {{vm.question}}
        </div>
        <br>

        <!--Answer-->
        <div class="form-group answer">

            <div class="col-sm-10" ng-class="{'has-error': enigmaForm.answer.$invalid && enigmaForm.answer.$dirty}">
                <input name="answer" type="text" class="form-control" placeholder="Réponse" ng-model="vm.answer" required maxlength="255">
            </div>
        </div>

        <div>
            <button validation-submit="enigmaForm" type="submit" class="btn btn-primary" ng-click="vm.submit()" ng-disabled="enigmaForm.$invalid">Soumettre</button>
        </div>

    </form>
</div>
